.wppus-wrap .nav-tab .dashicons {
	vertical-align: middle;
}

.wppus-wrap .column-col_id {
	width: 75px;
}


.wppus-add-packages .spinner {
    float: none;
    vertical-align: top;
    background-size: 20px 20px;
    margin: 0 5px;
    height: 28px;
    width: 28px;
    background-position: center center;
}

#wppus-licenses-list {
    margin-bottom: 20px;
}

#wppus_license_panel,
.wppus-edit-license-label,
.wppus-add-license-label,
.wppus-license-show-if-edit {
    display: none;
}

label.wppus-license-error {
    display: none !important;
}

input.wppus-license-error {
    border-color: #a00;
}

input[type=text]:focus.wppus-license-error,
input[type=date]:focus.wppus-license-error,
input[type=email]:focus.wppus-license-error,
input[type=number]:focus.wppus-license-error {
    border-color: #a00;
    box-shadow: 0 0 2px rgba(170, 0, 0, .8);
}

#wppus_license_panel {
    margin-top: 20px !important;
    margin-top: 20px !important;
}

#wppus_license_panel .inside {
    opacity: 0;
}

#wppus_license {
    padding: 10px 15px 0px;
}

#wppus_license h3 {
    margin: 0;
}

#wppus_license .license-column-container {
    clear: both;
}

#wppus_license .license-column {
    width: 49%;
    padding: 0 1% 0 0;
    border-right: 1px solid #e6e6e6;
    float: left;
}

#wppus_license .license-column:last-child {
    padding-right: 0;
    padding-left: 2%;
    border: none;
    box-sizing: border-box;
}

#wppus_license .license-column p {
    padding: 0!important;
}

#wppus_license .license-column .form-field {
    float: left;
    clear: left;
    width: 48%;
    padding: 0;
    margin: 9px 0 0;
}

#wppus_license .license-column .form-field label {
    display: block;
    padding: 0 0 3px;
}

#wppus_license .license-column .form-field input,
#wppus_license .license-column .form-field textarea {
    width: 100%;
}

#wppus_license .license-column .form-field select {
    width: 100%;
}

#wppus_license .license-column .form-field .select2-container {
    width: 100%!important;
}

#wppus_license .license-column .form-field .date-picker {
    width: 50%;
}


#wppus_license .license-column .form-field small {
    display: block;
    margin: 5px 0 0;
    color: #999;
}

#wppus_license .license-column .form-field.last {
    float: right;
    clear: right;
}

#wppus_license .license-column .form-field-wide {
    width: 100%;
    clear: both;
}

#wppus_license .license-column .form-field-wide input,
#wppus_license .license-column .form-field-wide select,
#wppus_license .license-column .form-field-wide textarea {
    width: 100%
}

#wppus_license #wppus_license_save {
    margin: 1px 8px 0 0;
}

#wppus_license_registered_domains ul {
    margin: 0 0 0 14px;
    font-size: 12px;
    overflow: auto;
    list-style: none;
}

.wppus-domains-list,
#wppus_license_registered_domains li.wppus-domain-template {
    display: none;
}

#wppus_license_registered_domains li {
    display: inline-block;
    margin-right: 25px;
    font-size: 13px;
    line-height: 1.8em;
    cursor: default;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
}

#wppus_license_registered_domains button {
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 0 0 -19px;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    text-indent: 0;
}

span.wppus-domain-value {
    margin-left: 5px;
}

span.wppus-remove-domain-icon::before {
    margin-left: 2px;
    border-radius: 50%;
    color: #0073aa;
    line-height: 1.28;
    background: 0 0;
    content: "\f153";
    display: block;
    font: 400 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1024px) {

    #wppus_license .license-column {
        width: 100%;
        padding: 0;
        border: none;
    }

    #wppus_license .license-column:first-child {
        padding: 0;
    }
}