.api-keys-items button,
.webhook-items button {
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    text-indent: 0;
    align-self: center;
}

.api-keys-items,
.webhook-items {
    background: #fff;
    padding: 0.5em;
    margin-bottom: 0.75em;
}

.api-keys-items.empty,
.webhook-items.empty {
    padding: 0;
}

.form-table td input[type=text].new-api-key-item-id,
.form-table td input[type=text].new-webhook-item-url,
.form-table td input[type=text].new-webhook-item-secret,
.form-table td textarea.ip-whitelist,
.api-keys-items {
    max-width: 600px;
}

.webhook-items {
    max-width: 750px;
}

.api-keys-items .item,
.webhook-items .item {
    display: grid;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #c3c4c7;
    grid-template-columns: 1fr 1fr auto;
    gap: 0 1em;
    justify-items: center;
}

.webhook-items .item {
    grid-template-columns: auto 2fr 1fr auto;
}

.api-keys-items .item:last-child,
.webhook-items .item:last-child {
    border: 0;
}

.api-keys-items .key,
.webhook-items .secret {
    word-break: break-all;
}

.api-keys-items .id {
    justify-self: left;
}

.webhook-items .url {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 250px;
    display: inline-block;
    cursor: help;
    justify-self: self-start;
}

.webhook-items .events {
    font-style: italic;
    color: #666b72;
    font-size: 90%;
    cursor: help;
    min-width: 75px;
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.webhook-add-controls {
    margin-bottom: 1em;
}

.webhook-event-types {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0.5em 0;
}

.webhook-event-container {
    margin-left: 1.75em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.webhook-event-container.all {
    margin-left: 0;
}

.webhook-event-container label {
    display: block;
}

.webhook-event-container label.child {
    margin-left: 1.75em;
}

@media only screen and (max-width: 782px) {

    .wp-core-ui button.api-keys-add.button,
    .wp-core-ui button.webhook-add.button {
        margin-top: 0.5em;
    }
}