#wppus-licenses-list {
    margin-bottom: 20px;
}

#wppus_license_panel,
.wppus-edit-license-label,
.wppus-add-license-label,
.wppus-license-show-if-edit {
    display: none;
}

label.wppus-license-error {
    display: none !important;
}

input.wppus-license-error {
    border-color: #a00;
}

input[type=text]:focus.wppus-license-error,
input[type=date]:focus.wppus-license-error,
input[type=email]:focus.wppus-license-error,
input[type=number]:focus.wppus-license-error {
    border-color: #a00;
    box-shadow: 0 0 2px rgba(170, 0, 0, .8);
}

#wppus_license_panel {
    margin-top: 20px !important;
    margin-top: 20px !important;
}

#wppus_license_panel .inside {
    opacity: 0;
}

#wppus_license {
    padding: 10px 15px 0px;
}

#wppus_license h3 {
    margin: 0;
}

#wppus_license .license-column-container {
    display: flex;
    align-items: flex-start;
    gap: 2%;
}

#wppus_license .license-column {
    border-right: 1px solid #e6e6e6;
    max-width: 750px;
}

#wppus_license .license-column:last-child {
    padding-right: 0;
    padding-left: 2%;
    border: none;
    box-sizing: border-box;
}

#wppus_license .license-column p {
    padding: 0!important;
}

#wppus_license .license-column .form-field {
    float: left;
    clear: left;
    width: 48%;
    padding: 0;
    margin: 9px 0 0;
}

#wppus_license .license-column .form-field label {
    display: block;
    padding: 0 0 3px;
}

#wppus_license .license-column .form-field input,
#wppus_license .license-column .form-field textarea {
    width: 100%;
}

#wppus_license .license-column .form-field select {
    width: 100%;
}

#wppus_license .license-column .form-field .select2-container {
    width: 100%!important;
}

#wppus_license .license-column .form-field .date-picker {
    width: 50%;
}

#wppus_license .license-column .form-field small {
    display: block;
    margin: 5px 0 0;
    color: #999;
}

#wppus_license .license-column .form-field.last {
    float: right;
    clear: right;
}

#wppus_license .license-column .form-field-wide {
    width: 100%;
    clear: both;
}

#wppus_license .license-column .form-field-wide input,
#wppus_license .license-column .form-field-wide select,
#wppus_license .license-column .form-field-wide textarea {
    width: 100%;
}

#wppus_license #wppus_license_save {
    margin: 1px 8px 0 0;
}

#wppus_license_registered_domains ul {
    margin: 0 0 0 14px;
    font-size: 12px;
    overflow: auto;
    list-style: none;
}

.wppus-domains-list,
#wppus_license_registered_domains li.wppus-domain-template {
    display: none;
}

#wppus_license_registered_domains li {
    display: inline-block;
    margin-right: 25px;
    font-size: 13px;
    line-height: 1.8em;
    cursor: default;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
}

#wppus_license_registered_domains button {
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    margin: 0 0 0 -19px;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    text-indent: 0;
}

span.wppus-domain-value {
    margin-left: 5px;
}

#wppus_license_data {
    width: 250px;
}

.license-form-extra-data {
    padding-bottom: 2em;
}

@media only screen and (max-width: 945px) {
    #wppus_license .license-column,
    #wppus_license .license-column:last-child,
    #wppus_license .license-column:first-child{
        border:none;
        padding: 0;
        margin: 0;
    }

    #wppus_license .license-column-container {
        flex-direction: column;
        gap: 0;
    }

}