.wppus-wrap .nav-tab {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.wppus-wrap .column-col_id {
	width: 75px;
}

.wppus-add-packages .spinner {
    float: none;
    vertical-align: top;
    background-size: 20px 20px;
    margin: 0 5px;
    height: 28px;
    width: 28px;
    background-position: center center;
}

.wppus-remove-icon::before {
    margin-left: 2px;
    border-radius: 50%;
    color: #0073aa;
    line-height: 1.28;
    background: 0 0;
    content: "\f153";
    display: block;
    font: 400 16px/20px dashicons;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wppus-wrap .help-content ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.wppus-wrap .help-content pre {
    background: rgba(0,0,0,.07);
    direction: ltr;
    overflow: auto;
    padding: 1em;
    display: inline-block;
    tab-size: 4;
}